/* */
.rd-navbar-sidebar .rd-navbar-brand img { width: auto; height: auto; max-width: 320px; max-height: 200px; }

.text-primary { color: #f16356 !important; }

a,
a:focus,
a:active,
h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover,
h6,
.heading-6,
mark,
.mark,
.contact-info a:hover,
.box-minimal .box-minimal-icon,
.box-counter-main,
.course-body-meta a:hover,
.course-price,
.course-price a,
.course-price a:focus,
.course-price a:active,
.course-rating .icon,
.course-amount a:hover,
.event-location a:hover,
.event-link:hover,
.event-link .icon,
.event-modern-time a:hover,
.event-modern-location a:hover,
.event-modern-link:hover,
.event-modern-link .icon,
.list-marked > li::before,
.list-ordered > li:before,
.icon-primary,
.post-classic__title a:hover,
.post-classic_socail-list a.icon:hover,
.related-post h6 a:hover,
.post-intro a:hover,
.post-intro:hover .post-intro__inner:before,
.blog-aside .list-marked li a:hover,
.list-blog-item a:hover,
.list-blog-item a.icon-primary,
.comment-title a:hover,
.breadcrumbs-custom-path a:hover,
.breadcrumbs-custom-path li.active,
.pagination-custom a:hover,
.pagination-custom a.active,
.snackbars a,
.snackbars a:focus,
.snackbars a:active,
.rd-navbar-search .rd-search-form-submit:hover,
.rd-navbar-static .rd-nav-item.focus .rd-nav-link,
.rd-navbar-static .rd-nav-item.opened .rd-nav-link,
.rd-navbar-static .rd-nav-item.focus > .rd-navbar-submenu-toggle,
.rd-navbar-static .rd-nav-item.opened > .rd-navbar-submenu-toggle,
.rd-navbar-static .rd-nav-item.active .rd-nav-link,
.rd-navbar-static .rd-nav-item.active > .rd-navbar-submenu-toggle,
.rd-navbar-static .rd-nav-item > .rd-navbar-submenu-toggle:hover,
.rd-navbar-static .rd-nav-link:hover,
.rd-navbar-static .rd-dropdown-item.focus .rd-dropdown-link,
.rd-navbar-static .rd-dropdown-item.opened .rd-dropdown-link,
.rd-navbar-static .rd-dropdown-link:hover,
.rd-navbar-static .rd-navbar-dropdown li > a:hover,
.rd-navbar-static .rd-megamenu-list li > a:hover,
.rd-navbar-static .rd-navbar-dropdown li > a::before,
.rd-navbar-static .rd-megamenu-list li > a::before,
.rd-navbar-static .rd-megamenu-list-link:hover,
.rd-navbar-static .rd-navbar-search-toggle:hover,
.rd-navbar-fixed .rd-navbar-megamenu .rd-megamenu-title a:hover,
.rd-navbar-fixed .rd-navbar-search-toggle:hover,
.rd-navbar-sidebar .rd-nav-item.opened .rd-navbar-submenu-toggle,
.rd-navbar-sidebar .rd-nav-item.opened .rd-nav-link,
.rd-navbar-sidebar .rd-nav-item.active .rd-navbar-submenu-toggle,
.rd-navbar-sidebar .rd-nav-item.active .rd-nav-link,
.rd-navbar-sidebar .rd-nav-link:hover,
.rd-navbar-sidebar .rd-nav-item > .rd-navbar-submenu-toggle:hover,
.rd-navbar-sidebar .rd-nav-item .rd-navbar--has-dropdown > .rd-navbar-submenu-toggle:hover,
.rd-navbar-sidebar .rd-navbar-dropdown li > a:hover,
.rd-navbar-sidebar .rd-megamenu-list li > a:hover,
.rd-navbar-sidebar .rd-navbar-dropdown li > a::before,
.rd-navbar-sidebar .rd-megamenu-list li > a::before,
.rd-navbar-sidebar .rd-navbar-dropdown li > a:hover,
.rd-navbar-sidebar .rd-megamenu-list li > a:hover,
.rd-navbar-sidebar .rd-navbar-dropdown .rd-navbar--has-dropdown.opened > .rd-navbar-submenu-toggle,
.swiper-button-prev:hover,
.swiper-button-next:hover,
.rd-search-results-live .search-link:hover,
.rd-search-results-live .search-title a:hover,
.rd-search-classic .rd-search-submit:hover,
.rd-search.rd-search-inline .button-link:hover,
.tweet-user-name a:hover,
.tweet-text a:hover,
.tweet-tags a:hover,
.layout-panel .isotope-filters ul li a.active,
.layout-panel .isotope-filters ul li a:hover,
[class^='heading-'] a:hover,
p [data-toggle='tooltip']  { color: #f16356; }

.owl-carousel .owl-dot.active span,
.owl-carousel .owl-dot:hover span,
.ui-to-top { background-color: #f16356; }

.ui-to-top,
::selection,
::-moz-selection,
.box-minimal-divider,
.box-counter-divider::after,
.table-custom.table-custom-primary thead th,
.divider::after,
.button-default.button-ujarak::before,
.button-default-outline.button-ujarak::before,
.button-ghost:hover,
.button-ujarak::before,
.toggle-custom:checked ~ .checkbox-custom-dummy::after,
.related-post .img:before,
.blog-socail .icon:hover,
.blog-socail .icon.fa-facebook:hover,
.blog-socail .icon.fa-twitter:hover,
.blog-socail .icon.fa-pinterest:hover,
.blog-socail .icon.fa-instagram:hover,
.rd-navbar-fixed .rd-navbar-nav-wrap::-webkit-scrollbar-track,
.rd-navbar-fixed .rd-nav-item:hover .rd-nav-link,
.rd-navbar-fixed .rd-nav-item.focus .rd-nav-link,
.rd-navbar-fixed .rd-nav-item.active .rd-nav-link,
.rd-navbar-fixed .rd-nav-item.opened .rd-nav-link,
.rd-navbar-fixed .rd-megamenu-list > li:hover > a,
.rd-navbar-fixed .rd-megamenu-list > li.focus > a,
.rd-navbar-fixed .rd-megamenu-list > li.active > a,
.rd-navbar-fixed .rd-megamenu-list > li.opened > a,
.rd-navbar-fixed .rd-navbar-dropdown > li:hover > a,
.rd-navbar-fixed .rd-navbar-dropdown > li.focus > a,
.rd-navbar-fixed .rd-navbar-dropdown > li.active > a,
.rd-navbar-fixed .rd-navbar-dropdown > li.opened > a,
.rd-search-results-live .search-submit,
.rd-search-results .search,
.tabs-horizontal.tabs-line .nav-link::after,
.card-corporate .card-arrow,
.progress-linear-bar,
.owl-carousel .owl-prev,
.owl-carousel .owl-next,
.owl-carousel .owl-prev:hover,
.owl-carousel .owl-next:hover,
.owl-carousel .owl-dot.active span,
.owl-carousel .owl-dot:hover span,
.lg-progress-bar .lg-progress,
.thumbnail-small:hover,
.block-center:hover .block-center-header { background-color: #f16356; }

@media (max-width: 1599.98px) {
	.block-center-header { background-color: #f16356; }
}

.button-default:hover,
.button-default:active,
.button-default.active,
.button-primary,
.button-primary:focus,
.button-default-outline:hover,
.button-default-outline:active,
.button-default-outline.active,
.btn-primary,
.btn-primary:active,
.blog-tags .list-inline > li a:hover,
.page-link:hover,
.page-link:focus,
.page-link:active,
.page-item.active > .page-link,
.page-item.active > .page-link:hover,
.page-item.active > .page-link:focus,
.page-item.active > .page-link:active,
.tabs-line .nav-link:hover,
.tabs-line .nav-link.active,
.tabs-corporate .nav-link:hover,
.tabs-corporate .nav-link.active,
.tabs-horizontal.tabs-corporate .nav-link.active,
.tabs-horizontal.tabs-corporate .nav-link:hover,
.btn-primary:focus { background-color: #f16356; border-color: #f16356; }

.cssload-speeding-wheel,
.lg-outer .lg-thumb-item.active,
.lg-outer .lg-thumb-item:hover,
.form-wrap.has-focus .form-input { border-color: #f16356; }

.quote-primary-mark { fill: #f16356; }

.countdown-circle-fg,
.progress-circle-fg { stroke: #f16356; }

.tooltip.bs-tooltip-top .arrow::before { border-top-color: #f16356; }

.tooltip.bs-tooltip-bottom .arrow::before { border-bottom-color: #f16356; }